
.container{
    width: 100%;
     /* height: 100vh; */
     border: 2px solid red;
     /* background-color: rgba(248, 250, 255, 1); */
     display: flex;
 }
 
 .navbar {
   /* display: flex; */
   width:1000px;
   margin-top:10px;
   justify-content: space-between;
   margin-top: 20px;
   }
   
  .right-component{
   display: flex;
   gap:10px;
   /* justify-content: space-between; */
  }