
.container{
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
  }
  
  .menu{
    position: absolute;
    height: 97vh;
    background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);
    
    z-index: 1000;
   width: 180px;
   top:10px;
   left:20px;
   border-radius: 15px;
   /* align-items: center; */
   display: flex;
   flex-direction: column;
}

.menu-toggle{
    display: none;
}

.menu .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    text-align: center;
    /* padding: 10px; */
}
  
  .menu .item .title {
    font-size: 15px;
    /* font-weight: 200; */
    color: white;
  }
  
  .menu .item .title lg {
    display: none;
  }
  
  .menu .item .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .menu .item :hover {
    background-color: white;
    color: black;
    width: 100%;
    cursor: pointer;
    
  }
  .hamburger{
    display:none;
  }
   .lower{
    position: absolute;
    bottom: 20px;
    align-self: center;
    color: white;
    flex-direction: column;
   }
  
   @media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        position: relative;
      }
    
      .board,.lower{
        display:none;
      }

      .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
      }
      
      .menu.open {
        z-index: 500;
        max-height: 60vh;
        background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);
        
      }
      
      .menu-toggle {
        display: block;
        background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);

        color: white;
        border: none;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 600;
      }
      
}